<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listado</h1>
    <section>
      <% movies.forEach(movie => { %> 
        <article>
          <h2><%= movie.title %> </h2>
          <form action="/delete/<%= movie.id %> " method="post">
            <button type="submit">Borrar!</button>
          </form>
        </article>
      <% }) %> 
    </section>
  </body>
</html>
