<header class="header_container">
    <div class="logo_menu">
        <a href="/"><img class="logo" src="\images\Palomitas_de_Maiz_icono.webp" alt="img"></a>
        <div class="menu">
            <nav class="nav">
                    <a href="">RECOMENDADAS</a>
                    <a href="">GENEROS</a>
                    <a href="">DIRECTORES</a>
            </nav>
            <nav class="nav">
                <a href="">usuario</a>
                <a href="">LOGIN</a>
                <a href="">REGISTRO</a>
                <a href="/create">Crear pelicula</a>
            </nav>                
        </div>
    </div>
    
    <div class="search">
        <input type="search" placeholder="Buscar pelicula..." class="buscador" />
    </div>
</header>